body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0;
    font-size: 1.7em;
}

.container {
    width: 1200px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.input-area {
    display: flex;
    align-items: center;
    border: 4px solid #eaaa56;
    border-radius: 20px;
    padding: 20px 40px 20px 20px;
    margin-bottom: 40px;
}

#todo-input {
    flex: 1;
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: #eaaa56;
    background-color: black;
    font-size: 0.65em;
    outline: none;
}

#todo-input::placeholder {
    color: gray;
    font-size: 0.65em;
}

#add-a-btn, #add-b-btn {
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-a-btn {
    background-color: #00cfb8;
}

#add-b-btn {
    background-color: #6873eb;
}

#add-a-btn:hover {
    background-color: #00b3a0;
}

#add-b-btn:hover {
    background-color: #5966d4;
}

.todo-list-wrapper {
    border: 4px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: #333;
    margin-bottom: 30px;
    min-height: 50px; /* 최소 높이 설정 */
}

#todo-list-wrapper-a {
    border-color: #00cfb8;
}

#todo-list-wrapper-b {
    border-color: #6873eb;
}

#todo-list-a, #todo-list-b {
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0;
    position: relative;
}

.todo-item + .todo-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid #717171;
    margin-left: 20px;
    margin-right: 20px;
}

.todo-item.completed .text {
    text-decoration: line-through;
    color: gray;
}

.drag-handle {
    cursor: move;
    margin-right: 20px;
    font-size: 1.5em;
    color: #eaaa56;
}

.checkbox {
    margin-right: 20px;
    width: 2em;
    height: 2em;
}

.text {
    flex: 1;
    font-size: 1em;
    cursor: default;
}

.edit-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
}

.edit-btn:hover {
    color: #0056b3;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
}

.delete-btn:hover {
    color: darkred;
}

.restore-btn {
    background-color: transparent;
    border: none;
    color: green;
    cursor: pointer;
    font-size: 1.4em;
    margin-left: 10px;
}

.restore-btn:hover {
    color: darkgreen;
}

#show-deleted-btn {
    background-color: #eaaa56;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1em;
    align-self: flex-end;
    margin-right: 25px;
}

#show-deleted-btn:hover {
    background-color: #d49b40;
}

#deleted-list {
    display: none;
    font-size: 0.7em;
    padding: 0 20px;
}
