body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #000; /* 배경 검정색 */
    color: white; /* 텍스트 흰색 */
}

#todo-app {
    background: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px; /* 원래 크기로 조정 */
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.2em;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #444; /* 연한 회색 */
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
    color: #ccc; /* 결과 텍스트 색상 연한 회색 */
}

li span {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
}

li.completed span {
    color: #888;
    text-decoration: line-through;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: red;
}

.delete-btn:hover {
    color: darkred;
}
